body {
  font-family: Overpass;
  color: #000000;
  font-size: 18px;
  background-color: #efdcbe;

}

h1, h2, h3 {
  font-family: Chivo;
}

a {
  color: #1A48E3;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}
.logo {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
#menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
#menu a {
    display:block;                /* Transformation en block */
    width: 160px;             /* Largeur minimale des liens */   
    
    margin: 0,5rem;               /* Marges externes */
    padding: 10px 10px;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #1ABC9C;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}

#menu a.actif {    
    background-color: #000 ; 
    color: #1ABC9C ;
    border-color: #1ABC9C ;
}
#menu a:hover,
#menu a:hover.actif{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}

#First {
  background-image: url(images/Surf.jpg);
  background-size: cover;
  padding: 150px 0;
  margin-top: 20px 0;
  text-align: center;
}

#First a{

  display:block;                /* Transformation en block */
    width: 160px;               /*Largeur*/   
    margin: 0,5rem;             /* Marges externes */
    padding: 10px 10px;       /* Marges internes */
    text-align: center;         /* Centrage du texte */   
    background-color: #1ABC9C;  /* Arrière-plan */
    color: #fff;                /* Couleur du texte */
    border: 1px solid #fff;     /* Ajout d'une bordure */
    border-radius: 4px;         /* Arrondis des bordures */
    
    transition: all 1s ;        /* Ajout des effets de transition */
}

#container {
  margin-top: 20px;
  display:flex;
  padding: 0;
  justify-content: space-around;
}
.element {
  background: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
  text-align: center;
}

.element img {
  width: 200px;
  height: 150px;
  background-position: center;
}

.element a {
  display:block;                /* Transformation en block */
    width: 160px;               /*Largeur*/   
    margin: 0,5rem;             /* Marges externes */
    padding: 10px 10px;       /* Marges internes */
    text-align: center;         /* Centrage du texte */   
    background-color: #1ABC9C;  /* Arrière-plan */
    color: #fff;                /* Couleur du texte */
    border: 1px solid #fff;     /* Ajout d'une bordure */
    border-radius: 4px;         /* Arrondis des bordures */
    
    transition: all 1s ;        /* Ajout des effets de transition */
}




