body {
  font-family: Overpass;
  color: #000000;
  font-size: 18px;
  background-color: #efdcbe;

}

h1, h2, h3, p {
  font-family: Chivo;
}

a {
  font-family: Chivo;
  color: #111;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.logo {
  display: block;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
#menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.btn {
    display: inline-block;                
    min-width: 160px;                   /* Largeur minimale des liens */   
    
    margin: 0,5rem;                     /* Marges externes */
    padding: 10px 10px;                 /* Marges internes */
    text-align: center;                 /* Centrage du texte */   
    background-color: #1ABC9C;          /* Arrière-plan */
    color: #000;                        /* Couleur du texte */
    border: 1px solid #000;             /* Ajout d'une bordure */
    border-radius: 4px;                 /* Arrondis des bordures */
    transition: all 1s ;                /* Ajout des effets de transition */
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);  /*ajout d'ombrage*/
}
.btn:hover {
    background-color: #ed2794;
    color: #ffe843;
    border-color: #000;
}

#First {

  background-image: url(images/Surf.jpg);
  background-size: cover;
  padding: 200px 0;
  margin-top: 20px 0;
  text-align: center;
}


#container {
  margin-top: 20px;
  display:flex;
  padding: 0;
  justify-content: space-around;
}
.element {
  background: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 24px;
  margin: 8px;
  flex-grow: 1;
  text-align: center;
}

.element img {
  width: 200px;
  height: 150px;
  background-position: center;
}





